*{
    font-family: Arial;
}

body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul,
nav li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover{
    background-color: #39aae1;
    color: #fff;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url('../imagens/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column{
    flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1{
    color: #fff;
    font-size: 55px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

.banner_headline h2{
    color: #fff;
    font-size: 20px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options{
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3{
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
    display: flex;
    flex-direction: column;
}

.banner_title{
    font-size: 23px;
}
.banner_desc{
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.monday,
.saturday,
.sunday{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #687dc0;
    padding: 10px 10px 10px 0px;
    font-size: 13px;
}
.hours{
    padding-bottom: 8px;
}

#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    font-size: 21px;
    font-weight: bold;
    color: #000;
}
.widget_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 8px;
}

#quadrado{
    display: flex;
}

.widget_quad{
    margin: 0px 30px 30px 0px;
    width: 150px;
    height: 150px;
    background-color: #39aae1;
}
.quad2{
    margin-right: 0px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px ;
}
article a{
    text-decoration: none;
}
article .news_data{
    display: flex;
}

article .news_posted_at{
    font-size: 12px;
    padding: 10px;
    background-color: #2b4c99;
    color: #fff;
    margin-right: 2px;
}
article .news_comments{
    font-size: 12px;
    padding: 10px;
    background-color: #39aae1;
    color: #fff;
}

article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}
article .news_resume{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}

.make_text{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}
.make_contact{
    display: flex;
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    border-top: 1px solid #5c5c5c;
    padding-top: 10px;
    padding-bottom: 10px;
}

.make_contact a{
    color: #2b4c99;
    border-bottom: 1px dotted #2b4c99;
    text-decoration: none;
}
.make_contact b{
    color: #000;
}
.make_contact img{
    width: 12%;
    height: auto;
    background-color: #ccc;
    padding: 8px;
    margin-left: 0px;
}
.make_contact p{
    margin-left: 10px;
}

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu{
    display: flex;
}
.fm1,.fm2,.fm3{
    flex: 1;
    color: #fff;
}

.fm1{
    background-color: #39aae1;
}
.fm2{
    background-color: #0079c7;
}
.fm3{
    background-color: #2b4c99;
}
.footer_menu a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
}

.footer_area{
    display: flex;
}
.footer_areaitem{
    flex: 1;
    color: #fff;
}
.flexColumn{
    flex-direction: column;
}

footer .widget_title_text{
    color: #fff;
}

.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 40px;
}

footer .banner_desc{
    margin-top: 10px;
    margin-bottom: 0px;
}

.footer_desc{
    padding-bottom: 20px;
    padding-left: 20px;
}

.desc1{
    font-size: 13px;
    color: #fff;
    line-height: 18px;
}
.desc2{
    font-size: 11px;
    color: #39aae1;
    margin-top: 2px;
}

.tweets{
    color: #5c5c5c;
}

.tweets b{
    color: #fff;
}

.clinic{
    color:#5c5c5c;
    font-size: 13px;
    line-height: 18px;
}

.desc_clinic_text{
    margin-bottom: 20px;
}
.desc_clinic{
    display: flex;
    justify-content: space-between;
}
.desc_clinic p{
    margin: 0px
}
.desc_clinic b{
    color: #fff;
}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line{
    height: 3px;
    background-color: #39aae1;
}

@media (max-width: 800px) {
    .banner_headline{
        padding-left: 20px;
    }
    .banner_headline h1 {
        font-size: 45px;
    }
    .banner_headline h2 {
        font-size: 16px;
    }

    .container{
        flex-direction: column;
    }

    #geral section,
    #geral aside{
        padding-left: 20px;
    }

    .footer_menu{
        flex-direction: column;
    }
    .footer_area{
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy{
        padding-left: 20px;
    }
    .desc_clinic{
        flex-direction: column;
    }
    .desc_clinic1{
        margin-bottom: 10px;
    }

    header .container{
        flex-direction: row;
    }

    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0px;
        width: 100%;
        background-color: #fff;
    }

    header{
        height: auto;
    }

    .logo{
        padding-left: 20px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 700px) {
    .banner_options{
        flex-direction: column;
        height: auto;
    }

    section{
        margin-top: 20px;
    }

    .widget_quad{
        margin: 0px 30px 30px 0px;
        width: 120px;
        height: 120px;
        background-color: #39aae1;
    }
}

@media (max-width: 400px){
    #geral aside{
        padding-left: 10px;
        width: 300px;
    }
    .container{
        width: 300px;
    }
    #geral section{
        padding-left: 0px;
    }
}